<el-dropdown class="inline-block">
    <button class="px-3 cursor-pointer hover:opacity-70">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>

    <el-menu anchor="bottom end" popover
        class="w-32 origin-top-right rounded-md bg-gray-800 outline-1 -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
        <div class="py-1">
        <a href="#"
            class="block px-4 py-2 text-sm text-gray-300 focus:bg-white/5 focus:text-white focus:outline-hidden">
            <i class="fa-solid fa-folder-open"></i>
            <span class="ms-1">Open</span>
        </a>
        <a href="#"
            class="block px-4 py-2 text-sm text-gray-300 focus:bg-white/5 focus:text-white focus:outline-hidden">
            <i class="fa-solid fa-pen-to-square"></i>
            <span class="ms-1">Edit</span>
        </a>
        <a href="#"
            class="block px-4 py-2 text-sm text-gray-300 focus:bg-white/5 hover:text-red-500 focus:outline-hidden">
            <i class="fa-solid fa-trash"></i>
            <span class="ms-1">Delete</span>
        </a>
        </div>
    </el-menu>
</el-dropdown>
