{% extends 'common/base.html' %}

{% block content %}

<div>
    {% include 'ui/sticky_header.html' %}

  <main>
    <div class="flex flex-col gap-2 lg:w-4xl infinite-container">
      {% for result in results %}
      <div class="bg-gray-900 rounded-md hover:bg-gray-800 p-4 infinite-item flex flex-row">
        <div id="result-image" class="cursor-pointer flex-none w-32 h-24 lg:w-96 lg:h-auto" onclick="followLink(this)" data-href="{{ result.detail_url }}">
          {% if result.image_url %}
          <img src="{{ result.image_url }}" alt="Result Image">
          {% else %}
          <div class="w-full h-24 lg:h-64 flex flex-col items-center justify-center bg-gray-400/20 text-gray-500">
            <i class="fa-solid fa-image scale-150 lg:scale-300"></i>
            <span class="mt-2 lg:mt-6 text-sm font-medium lg:text-base">No Image</span>
          </div>
          {% endif %}
        </div>
        <div id="result-description" class="flex flex-col grow text-white ml-4 lg:ml-8 lg:gap-2">
          <span class="font-medium lg:text-2xl">{{ result.title }}</span>
          <span class="lg:text-lg font-medium text-gray-500">{{ result.price }}</span>
        </div>
        <div class="hidden lg:inline">
          <a href="#" class="block z-10 px-2 py-2 text-sm text-gray-300/20 hover:text-red-500 focus:outline-hidden">
            <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </div>
      {% empty %}
      <span class="text-gray-500 font-medium text-center mt-6">No results available. Enable the query to get results.</span>
      {% endfor %}
    </div>
    {% if page_obj.has_next %}
      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}
    <div class="hidden">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
  </main>
</div>

{% endblock %}

{% block extra_post_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    offset: 'bottom-of-view',

    onBeforePageLoad: function () {
      $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
      $('.spinner-border').hide();
    }

  });
</script>
<script>
  function followLink(element) {
    element.click(window.location = element.getAttribute('data-href'));
  }
</script>

{% endblock %}