# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Database
*.sqlite3

# Environments
.env
*.env
.venv
.secret.txt

# mypy
.mypy_cache/

# Ruff:
.ruff_cache/

# Tailwind
.django_tailwind_cli/
