# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Database
db.sqlite
celerybeat-schedule.db

# Environments
.env
.venv

# mypy
.mypy_cache/

# Ruff:
.ruff_cache/

# Queries
queries/*.yml
