{% load static tailwind_cli %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realty Alerts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    {% tailwind_css %}

    {% block extra_scripts %}{% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="min-h-screen bg-base">
    <div class="px-4 flex flex-col lg:items-center">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

{% block extra_post_scripts %}{% endblock %}
