<header class="sticky top-0 z-10 flex flex-col gap-2 bg-gray-950 pt-6 pb-4">
  <div class="lg:flex flex-row justify-between items-baseline">
    <form method="get">
      {% include 'ui/components/searchbar.html' with search_url=search_url search_target=search_target %}
    </form>

    <button
      class="text-primary-content text-sm px-4 py-2 pb-2.5 rounded-md bg-base-200 hover:bg-primary cursor-pointer hidden lg:inline"
      onclick="query_form.showModal()">
      <i class="fa-solid fa-plus"></i>
      <span class="ml-1">Create new query</span>
    </button>
  </div>

  <div>
    {% include 'ui/components/breadcrumbs.html' %}
  </div>

  <button class="btn btn-primary fixed bottom-8 right-4 rounded-full px-4 py-5.5 lg:hidden"
    onclick="query_form.showModal()">
    <i class="fa-solid fa-plus scale-140"></i>
  </button>

  {% include 'ui/partials/query-create.html' %}
</header>
